RewardsPackage/force-app/main/default/flows/Contact_Create_Rewards_Account_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Set_Rewards_Account</name>
        <label>Set Rewards Account</label>
        <locationX>182</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>rewardsAccount.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rewardsAccount.Rewards_Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedRewardsProgram.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rewardsAccount.Points_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rewardsAccount.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedRewardsProgram.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rewardsAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strRewardsAccountName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Duplicate_Rewards_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_selectedRewardsProgram</name>
        <label>Set selectedRewardsProgram</label>
        <locationX>270</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>selectedRewardsProgram</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Rewards_Programs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Rewards_Programs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Id_for_Radio_Input</name>
        <label>Check Id for Radio Input</label>
        <locationX>402</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Rewards_Programs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Id is Not Selected Program</defaultConnectorLabel>
        <rules>
            <name>Id_is_Selected_Program</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Rewards_Programs.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Input_Rewards_Program_Radio</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_selectedRewardsProgram</targetReference>
            </connector>
            <label>Id is Selected Program</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_Get_Contact</name>
        <label>Null Check Get Contact</label>
        <locationX>809</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Contact_Not_Found_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Rewards_Programs</targetReference>
            </connector>
            <label>Got Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_Get_Duplicate_Rewards_Account</name>
        <label>Null Check Get Duplicate Rewards Account</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>Insert_rewardsAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Duplicate Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Duplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Duplicate_Rewards_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicate_Rewards_Account_Screen</targetReference>
            </connector>
            <label>Got Duplicate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_Get_Rewards_Programs</name>
        <label>Null Check Get Rewards Programs</label>
        <locationX>512</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>No_Active_Rewards_Programs_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rewards Programs Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Rewards_Programs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Rewards_Programs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_Rewards_Program_Screen</targetReference>
            </connector>
            <label>Got Rewards Programs</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>recChoiceRewardsPrograms</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <limit>25</limit>
        <object>Rewards_Program__c</object>
        <sortField>Start_Datetime__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>strRewardsAccountName</name>
        <dataType>String</dataType>
        <expression>{!Get_Contact.FirstName} + &quot;&apos;s &quot; + {!selectedRewardsProgram.Name} + &quot; Rewards&quot;</expression>
    </formulas>
    <interviewLabel>Contact Create Rewards Account Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Create Rewards Account Screen Flow</label>
    <loops>
        <name>Loop_through_Rewards_Programs</name>
        <label>Loop through Rewards Programs</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <collectionReference>Get_Rewards_Programs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Id_for_Radio_Input</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Rewards_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_rewardsAccount</name>
        <label>Insert rewardsAccount</label>
        <locationX>314</locationX>
        <locationY>1670</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Dml_Exception_Screen</targetReference>
        </faultConnector>
        <inputReference>rewardsAccount</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>809</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Duplicate_Rewards_Account</name>
        <label>Get Duplicate Rewards Account</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_Get_Duplicate_Rewards_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rewardsAccount.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Rewards_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rewardsAccount.Rewards_Program__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Rewards_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Rewards_Programs</name>
        <label>Get Rewards Programs</label>
        <locationX>512</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_Get_Rewards_Programs</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Rewards_Program__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Choose_Rewards_Program_Screen</name>
        <label>Choose Rewards Program Screen</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_through_Rewards_Programs</targetReference>
        </connector>
        <fields>
            <name>Choose_Rewards_Program_Screen_Msg</name>
            <fieldText>&lt;p&gt;{!title}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Input_Rewards_Program_Radio</name>
            <choiceReferences>recChoiceRewardsPrograms</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a Rewards Program</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>314</locationX>
        <locationY>1790</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Duplicate_Rewards_Account_Screen_Msg_0</name>
            <fieldText>&lt;p&gt;{!title}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Great! {!Get_Contact.FirstName} was successfully enrolled in {!selectedRewardsProgram.Name}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;/{!rewardsAccount.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;View Rewards Account&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Contact_Not_Found_Screen</name>
        <label>Contact Not Found Screen</label>
        <locationX>1106</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Contact_Not_Found_Screen_Msg</name>
            <fieldText>&lt;p&gt;{!title}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Hmm... something went wrong.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;Contact was not recognized. Please refresh the page and try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Dml_Exception_Screen</name>
        <label>Dml Exception Screen</label>
        <locationX>578</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Dml_Exception_Screen_Msg</name>
            <fieldText>&lt;p&gt;{!title}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;An error occurred when inserting the new Rewards Account. Please contact your system administrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Duplicate_Rewards_Account_Screen</name>
        <label>Duplicate Rewards Account Screen</label>
        <locationX>50</locationX>
        <locationY>1670</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Duplicate_Rewards_Account_Screen_Msg</name>
            <fieldText>&lt;p&gt;{!title}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Oops! Looks like {!Get_Contact.FirstName} is already enrolled in {!selectedRewardsProgram.Name}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;/{!Get_Duplicate_Rewards_Account.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;View Existing Record&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Active_Rewards_Programs_Screen</name>
        <label>No Active Rewards Programs Screen</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Active_Rewards_Programs_Screen_Msg</name>
            <fieldText>&lt;p&gt;{!title}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Hmm... something went wrong.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;No valid Rewards Programs were found. A Reward Program must have a status of Pending or Active to be eligible for new Rewards Accounts.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>683</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>title</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;New Rewards Account&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rewardsAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Rewards_Account__c</objectType>
    </variables>
    <variables>
        <name>selectedRewardsProgram</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Rewards_Program__c</objectType>
    </variables>
</Flow>
