RewardsPackage/force-app/main/default/flows/Rewards_Account_Redeem_Rewards_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Set_Redemption_Event_Values</name>
        <label>Set Redemption Event Values</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>redemptionEvent.Rewards_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Rewards_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>redemptionEvent.Reward__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Reward_Choice_Radio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>redemptionEvent.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Redemption_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>redemptionEvent.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>redemptionEvent.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rewardName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>redemptionEvent.Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rewardCost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>redemptionEvent.Related_Entity_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Reward_Choice_Radio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>redemptionEvent.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Null_Check_Get_Redemption_RecType</name>
        <label>Null Check Get Redemption RecType</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Error_RecType_Not_Found_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Redemption RecType Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Redemption_RecType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Redemption_Record_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Redemption_Event_Values</targetReference>
            </connector>
            <label>Got Redemption RecType</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_Get_Rewards_Account</name>
        <label>Null Check Get Rewards Account</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Error_Rewards_Account_Not_Found_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rewards Account Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Rewards_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Rewards_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_Reward_Screen</targetReference>
            </connector>
            <label>Got Rewards Account</label>
        </rules>
    </decisions>
    <description>Cash in points for Rewards related to this Rewards Program</description>
    <dynamicChoiceSets>
        <name>recChoiceProgramRewards</name>
        <dataType>String</dataType>
        <displayField>Display_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Rewards_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Rewards_Account.Rewards_Program__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cost__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Get_Rewards_Account.Points_Total__c</elementReference>
            </value>
        </filters>
        <limit>50</limit>
        <object>Program_Reward__c</object>
        <outputAssignments>
            <assignToReference>rewardCost</assignToReference>
            <field>Cost__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>rewardName</assignToReference>
            <field>Reward_Name__c</field>
        </outputAssignments>
        <sortField>Cost__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Reward__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Rewards Account Redeem Rewards Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rewards Account Redeem Rewards Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_redemptionEvent</name>
        <label>Insert redemptionEvent</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <inputReference>redemptionEvent</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Redemption_Record_Type</name>
        <label>Get Redemption Record Type</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_Get_Redemption_RecType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rewards_Event__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Redemption</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Rewards_Account</name>
        <label>Get Rewards Account</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_Get_Rewards_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Rewards_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Choose_Reward_Screen</name>
        <label>Choose Reward Screen</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Redemption_Record_Type</targetReference>
        </connector>
        <fields>
            <name>Choose_Reward_Screen_msg</name>
            <fieldText>&lt;p&gt;Total Rewards Account Points: {!Get_Rewards_Account.Points_Total__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Input_Reward_Choice_Radio</name>
            <choiceReferences>recChoiceProgramRewards</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Available Rewards</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation_Screen_msg</name>
            <fieldText>&lt;p&gt;Success! {!rewardName} was redeemed for {!rewardCost} points.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_RecType_Not_Found_Screen</name>
        <label>Error RecType Not Found Screen</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_RecType_Not_Found_Screen_msg</name>
            <fieldText>&lt;p&gt;Hmm... something went wrong.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Failed to retrieve Redemption record type. Please refresh the page and try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Rewards_Account_Not_Found_Screen</name>
        <label>Error Rewards Account Not Found Screen</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Rewards_Account_Not_Found_Screen_msg</name>
            <fieldText>&lt;p&gt;Hmm... something went wrong.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Failed to retrieve Rewards Account ID. Please refresh the page and try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Review_Screen</name>
        <label>Review Screen</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Insert_redemptionEvent</targetReference>
        </connector>
        <fields>
            <name>Review_Screen_Msg</name>
            <fieldText>&lt;p&gt;Are you sure you would like to proceed?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Reward: {!rewardName}&lt;/p&gt;&lt;p&gt;Cost: {!rewardCost}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Total Rewards Account Points: {!Get_Rewards_Account.Points_Total__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Rewards_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>redemptionEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Rewards_Event__c</objectType>
    </variables>
    <variables>
        <name>rewardCost</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>rewardName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
